<h1> NameDaPlace Menu </h1>
<p>
<h3><a href="/user/index"</a>List My Places</h3>
<p>
<h3><a href="/user/add"</a>Add A Place</h3>
<p>
<h3><a href="/user/update"</a>Update A Place</h3>
<p>
<h3><a href="/user/delete"</a>Delete A Place</h3>
