
<h1>Signup</h1>

  <form action= "/users" method="POST">
    <p>
      <label for="name">Name:</label>
      <input type= "text" name="name" id="name"/>
    </p>
    
    <p>
    
      <label for="email">Email:</label>
      <input name="email" id="email">
    </p>
    
      <label for="password">Password:</label>
      <input name="password" id="password">

    <input type="submit" value="Signup">
  
  </form>
