<%title="NameDaPlace"%>

<!DOCTYPE html>

<html>
  <head>
    
    <title><%title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  
  <header>
    <h1 align="center"><%=title%></h1>
    
    <nav>
      <div class="sidebar">
        <ul>
          <li> <a href = '/' title="Home">Home</a></li>
          <br>
          <li> <a href = '/about' title="About">About</a></li>
          <br>
          <li><a href= "/signup"><b>Signup</b></a></li>
          <br>
          <li><a href= "/login"><b>Login</b></a><li>
          <br>
          <li><a href= "/logout"><b>Logout</b></a><li>
        </ul>
      </div>
    </nav>
    
  </header>
  <body>
    <div class="wrapper">

        <%= yield %>

      <footer class="branding">
        <small>&copy; 2020 <strong>NameDaPlace</strong></small>
      </footer>
    </div>

  </body>
</html>
