<div class="container">
  <h1 align="center">Welcome to NameDaPlace</h1>
  <div class="col-md-8 col-md-offset-2">
    <h3>Want to remember a particular spot...?</h3>
    <ul>
    <li style="font-size:11px">
    <br>
    <li<</li>
    <li><b>Food / Beverage</b></li><br>
    <li><b>Entertainment / Recreation</b></li><br>
    <li><b>Tailor...Gym...Convenient Public Restroom....You Name It!</b></li>
    </ul>
    <p style="font-size:14px">
    Store it here in NameDaPlace for your future reference.  Sign Up / Log In and lets get naming. 

    d <div class="content">
    </div>

    <div class="sidebar">
      <h3>Sign Up / Log In Here</h3>
      <ul>
        <li><a href= "/register"><b>Register</b></a></li>
        <li><a href= "/login.html"><b>Login</b></a><li>
      </ul>
    </div>

 
</div>
