<h2>Name A Place:</h2>
<form action="/places" method="post">
  <h3> Place: </h3>
  <input type="text" name="name" />
  <h3> Notes: </h3>
  <textarea name='notes' rows='10' columns='40'></textarea>
  <input type='submit' value='Create'/>
  
  
