<h1>All Places</h1>

<% @places.each do |place| %>
  <h3><a href="/places/<%= place.id %>"><%= place.name %></a></h3>

  <a href="/places/<%=place.id%>/edit">Edit</a>
  
<%end%>
<br>
<br>
<a href="/places/new">New Place</a>
